{
  "openapi": "3.1.0",
  "info": {
    "title": "Agata Proxima Control Plane API",
    "version": "0.3.0",
    "description": "Authenticated customer management plane for organizations, projects, environments, integrations, tenants, policies, fleet, deployments, verification, audit and support. Proxima Engine remains the independent runtime enforcement authority."
  },
  "servers": [
    {
      "url": "https://agataproxima.com",
      "description": "Production public endpoint"
    },
    {
      "url": "http://127.0.0.1:8080",
      "description": "Local control plane"
    }
  ],
  "security": [
    {
      "sessionCookie": []
    }
  ],
  "paths": {
    "/api/v1/health": {
      "get": {
        "security": [],
        "responses": {
          "200": {
            "description": "Control plane healthy"
          },
          "503": {
            "description": "Control plane degraded"
          }
        }
      }
    },
    "/api/v1/auth/signup": {
      "post": {
        "security": [],
        "responses": {
          "200": {
            "description": "Workspace created and session established"
          },
          "400": {
            "description": "Validation error"
          },
          "409": {
            "description": "Identity already exists"
          }
        }
      }
    },
    "/api/v1/auth/login": {
      "post": {
        "security": [],
        "responses": {
          "200": {
            "description": "Session established"
          },
          "401": {
            "description": "Invalid credentials"
          }
        }
      }
    },
    "/api/v1/auth/logout": {
      "post": {
        "responses": {
          "200": {
            "description": "Session revoked"
          }
        }
      }
    },
    "/api/v1/session": {
      "get": {
        "responses": {
          "200": {
            "description": "Current session"
          },
          "401": {
            "description": "Unauthenticated"
          }
        }
      }
    },
    "/api/v1/platform/status": {
      "get": {
        "responses": {
          "200": {
            "description": "Organization platform status"
          }
        }
      }
    },
    "/api/v1/organizations": {
      "get": {
        "responses": {
          "200": {
            "description": "Organizations visible to the current user"
          }
        }
      },
      "post": {
        "responses": {
          "200": {
            "description": "Organization created"
          }
        }
      }
    },
    "/api/v1/tenants": {
      "get": {
        "responses": {
          "200": {
            "description": "Tenant inventory"
          }
        }
      },
      "post": {
        "responses": {
          "200": {
            "description": "Tenant created"
          }
        }
      }
    },
    "/api/v1/policies": {
      "get": {
        "responses": {
          "200": {
            "description": "Policy versions"
          }
        }
      },
      "post": {
        "responses": {
          "200": {
            "description": "Policy draft created"
          }
        }
      }
    },
    "/api/v1/nodes": {
      "get": {
        "responses": {
          "200": {
            "description": "Fleet inventory"
          }
        }
      },
      "post": {
        "responses": {
          "200": {
            "description": "Node registered; one-time enrollment token returned"
          }
        }
      }
    },
    "/api/v1/nodes/{id}/enrollment": {
      "post": {
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Enrollment started"
          },
          "404": {
            "description": "Node not found"
          }
        }
      }
    },
    "/api/v1/deployments": {
      "get": {
        "responses": {
          "200": {
            "description": "Deployment history"
          }
        }
      },
      "post": {
        "responses": {
          "200": {
            "description": "Deployment queued"
          }
        }
      }
    },
    "/api/v1/verifications": {
      "get": {
        "responses": {
          "200": {
            "description": "Verification evidence"
          }
        }
      },
      "post": {
        "responses": {
          "200": {
            "description": "Verification evidence recorded"
          }
        }
      }
    },
    "/api/v1/audit": {
      "get": {
        "responses": {
          "200": {
            "description": "Organization audit events"
          }
        }
      }
    },
    "/api/v1/support": {
      "get": {
        "responses": {
          "200": {
            "description": "Support request queue"
          }
        }
      },
      "post": {
        "responses": {
          "200": {
            "description": "Support request created"
          }
        }
      }
    },
    "/api/v1/organization/oidc/entra": {
      "post": {
        "summary": "Configure Microsoft Entra OIDC for the current organization",
        "responses": {
          "200": {
            "description": "OIDC connection configured"
          },
          "403": {
            "description": "Plan or role does not permit enterprise SSO"
          }
        }
      }
    },
    "/api/v1/auth/oidc/start": {
      "get": {
        "security": [],
        "parameters": [
          {
            "name": "organization_id",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Authorization URL returned"
          }
        }
      }
    },
    "/api/v1/auth/oidc/callback": {
      "get": {
        "security": [],
        "responses": {
          "200": {
            "description": "SSO session established"
          },
          "400": {
            "description": "Identity validation failed"
          }
        }
      }
    },
    "/api/v1/billing/plans": {
      "get": {
        "summary": "List Agata Proxima plans and checkout availability",
        "responses": {
          "200": {
            "description": "Plan catalog"
          }
        }
      }
    },
    "/api/v1/billing/entitlements": {
      "get": {
        "summary": "Get organization plan entitlements",
        "responses": {
          "200": {
            "description": "Current plan, limits, and enabled features"
          },
          "401": {
            "description": "Authentication required"
          }
        }
      }
    },
    "/api/v1/projects": {
      "get": {
        "summary": "List projects for the current organization",
        "responses": {
          "200": {
            "description": "Project inventory"
          }
        }
      },
      "post": {
        "summary": "Create a project and its Production environment",
        "responses": {
          "200": {
            "description": "Project created"
          },
          "403": {
            "description": "Write access or CSRF check failed"
          },
          "409": {
            "description": "Project identity already exists"
          }
        }
      }
    },
    "/api/v1/projects/{id}/environments": {
      "get": {
        "summary": "List environments for a project",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Environment inventory"
          },
          "404": {
            "description": "Project not found"
          }
        }
      },
      "post": {
        "summary": "Create a development, staging, or production environment",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Environment created"
          },
          "400": {
            "description": "Invalid environment input"
          },
          "403": {
            "description": "Write access or CSRF check failed"
          }
        }
      }
    },
    "/api/v1/integrations": {
      "get": {
        "summary": "List customer integration installations",
        "responses": {
          "200": {
            "description": "Integration inventory"
          }
        }
      },
      "post": {
        "summary": "Register an Engine, SDK, or Proxy integration",
        "responses": {
          "200": {
            "description": "Integration registered in pending state"
          },
          "400": {
            "description": "Invalid integration mode"
          },
          "403": {
            "description": "Write access or CSRF check failed"
          }
        }
      }
    },
    "/api/v1/webhooks/stripe": {
      "post": {
        "summary": "Legacy billing webhook; scheduled for removal in Phase 3B Paystack migration",
        "responses": {
          "200": {
            "description": "Legacy handler"
          }
        }
      }
    },
    "/api/v1/organization/switch": {
      "post": {
        "summary": "Switch the authenticated session to another organization the user belongs to",
        "responses": {
          "200": {
            "description": "New organization-scoped session established"
          },
          "403": {
            "description": "User is not a member or CSRF validation failed"
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "sessionCookie": {
        "type": "apiKey",
        "in": "cookie",
        "name": "proxima_session"
      }
    }
  }
}
